/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, roboto, 'Open Sans', sans-serif, 'Merriweather', serif;
  margin: 2em;
}

h1 {
  font-style: sans-serif;
  color: #000000;
  font-size: 80px;
}
.title-page{
  text-align: center;
}
.fixed-div{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.opporteenity{
  position: absolute;
  top: 0%;
}
.t{
  color: #FFB449;
}
.ee{
  color:#54AFBC;
}
.n{
  color: #FE5C36;
}
/* Add a background color to the top navigation */
.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #54AFBC;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.bottom-part-landingpage{
  background-color: white;
}
/*Seize the Moment*/
.title-home{
  margin: 60px;
  font-style: serif;
}
.categories{
  text-align: center;
}
.icon{
  text-align: center;
}

.inter-subjects{
  background-color: grey;
}

.yellow-circle{
  position: absolute;
  top: 20%;
  right: 25%;
}

.red-circle{
  position: absolute;
  top: 60%;
  right: 50%;
}

.blue-circle{
  position: absolute;
  top: 50%;
  right: 0%;
  overflow: hidden;
}

.rectangle1 {
  height: 400px;
  width: 1370px;
  background-color: #F0F0F0;
  text-align: center;
}

.home-text{
  position: absolute;
  top: 150%;
  
}


/* Image Blur When Hover*/
.textWithBlurredBg{
    width:500px;
    height:auto;
    display:inline-block;
    position:relative;
    transition:.3s;
    margin:4px;
  }
  
  .textWithBlurredBg img{
    width:100%;
    height:100%;
    transition:.3s;
    border-radius:4px;
  }
  
  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(70%);
    box-shadow:0 0 16px #54AFBC;
  }
   
  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }
  
  .textWithBlurredBg h3{
    top:50%
  }
  
  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }

.rec{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.intern-photo{
  padding-right: 150px;
}

h3{
  background-color: white;
  padding-left: 200px;
  padding-right: 1000px;
  padding-top: 40px;
  padding-bottom: 13px;
}

.parallax1 {
  /* The image used */
  background-image: url("https://cdn.glitch.com/b2d2ccd0-bf59-4ac3-84cf-6a1d79c05f11%2FVolunteer-image.jpg?v=1595574532734");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  /* The image used */
  background-image: url("https://cdn.glitch.com/b2d2ccd0-bf59-4ac3-84cf-6a1d79c05f11%2Fteamwork-makes-the-dream-work.jpg?v=1595574527338");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 {
  /* The image used */
  background-image: url("https://cdn.glitch.com/b2d2ccd0-bf59-4ac3-84cf-6a1d79c05f11%2FLearn-image.jpg?v=1595574532096");

  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-landing{
  width: 65%;
  text-align: center;
  margin-left: 12%;
  
}

.black-link{
  color: black;
}

.note{
  font-size: 15px;
}